*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.head{
height: 50px;
background: linear-gradient(#2f455cff,#1dcdfe);
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.input-box{
    position: relative;
    height: 30px;
    max-width: 400px;
    width: 100%;
    background: white;
    margin: 0 20px;
    margin-top: -40px;
    border-radius: 8px;
    box-shadow: 0 5px 10px black;
}
.input-box i,
.input-box .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.input-box i{
    left: 15px;
    font-size: 20px;
    color: #707070;
}
.input-box .button{
    right: 15px;
    font-size: 11px;
    font-weight: 400;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: rgb(59, 56, 56);
    cursor: pointer;
}
.input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 11px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.input-box .button.clicked{
    transform: translateY(-50%) scale(0.98);

}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300j;400;500;600&display=swap");
